@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
} */

html,
body {
    margin: 0;
    padding: 0;
}

#categories {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#categories li:hover {
    cursor: pointer;
    text-decoration: underline;
}